.wp-block-create-block-bento-ninja {
    .bento-grid {
        border: 1px dashed #ccc;
    }

    .block-editor-inner-blocks {
        width: 100%;
    }

    .wp-block-group {
        margin: 0;
    }
}